body {
    min-width: 90vw;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTA3M2Eta3NxeW5zZWcuanBn.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
h2:first-child {
    background-color: yellow;
}

p {
    font: serif;
    font-size: medium;
    letter-spacing: 0.1em;
    color: rgb(1, 1, 43);
}

a {
    color: rgb(0, 0, 138);
}
a:hover {
    color: rgb(4, 125, 4);
}
a:visited {
    color: rgb(14, 41, 14);
}

blockquote, blockquote q {
    width: 50vw;
    font-size: 160%;
    font-style: italic;
    background-color: rgb(196, 220, 226);
}
blockquote {
    margin-left: 40%;
    border-left: 3px solid firebrick;
    padding: 30px 80px 30px 80px;
}
q {
    font-style: italic;
}
.villagers {
    border-left: 3px solid blue;
}
.farmer {
    border-left: 3px solid greenyellow;
}

em.good + em.bad {
    text-transform: uppercase;
}
.good {
    color: green;
}

.bad {
    color: red;
}

table:nth-child(2n) {
    background-color: grey;
}

#TyPe>li:first-child {
    background-image: url(bien.png);
    padding-right: 30px;
}